body {
	font-family: Verdana;
	font-size: 15px; 
	color: #fff; 
	background: #001a1a;

}

.main-style {
	display: block;
	background: #008080;
	padding: 15px;
	border-radius: 20px;
	margin: 10px 10px;	
}

/*Only for technical help, not for stilization*/
.border {
	border: 1px solid black;
}

.size-80 {
	width: 80%;
	margin: 10px auto;
	flex-wrap: wrap;
}

/*.logo {
	width: 150px;
}*/

 .flex {
 	display: flex;
 }


 .flex1 {
 	display: flex;
 	flex-wrap: wrap;
 }

.beetween {
	justify-content: space-between;
}

.around {
	justify-content: space-around;
}
.alcntr {
	align-items: center;
}
 .end {
 	justify-content: flex-end;
 }

 .column {
 	flex-direction: column;
 }

.container {
	width: 80%;
	margin: 10px auto; 
	background: #00ace6;
	border-bottom: 3px solid green;
	border-radius: 20px;
	box-shadow: -5px 5px 15px;
}

header a {
	text-decoration: none;
	font: 1.3em bold Arial;
	color: #004d4d;
	padding: 10px;
	text-shadow: 0px 0px 2px #006652; 
	
}

.logo-name {
	padding: 10px;
}
.h1 {
	/*My music site*/
	background: #4d4dff;
	border-radius: 10px;
	text-align: center;
}

h1, h4 {
	margin: 0px;
	padding: 10px 10px;
}

.menu {
	margin: 10px 0px 10px 10px;
	display: inline-block;
	height: 250px;
	background: #666;
	border-radius: 20px;
}

.label {
	float: right;
}

.list {
	margin: 10px auto;
	max-width: 300px;
	min-width: 200px;
	height: 150px;
	background: #009999;
	border-radius: 20px;
	text-align: center;
}

.form {
	/*background: #00b3b3;*/
	/*position: absolute;*/
	text-align: center;
}

 .margin2 {
 	margin-top: 10px;
 }

 .content {
 	background: #ccc;
 	justify-content: center;
 	width: 80%;
 }

 .right {
 	text-align: center;
 }

 .main {
 	color: red;
 	margin: 0 auto;
 	position: relative;	
}

.part1 {
	flex: 1;

}.part2 {
	flex: 1;
}
.image {
	min-width: 120px;
	max-height: 120px;
	margin: 10px;
	text-align: center;
	color: #1aff8c;
}

.head {
	text-align: center;
}

.block {
	box-shadow: -5px 5px 20px #1aff8c;
}

img {
	width: 100%;
}

.range {
	font: 1.3em bold Arial;
	color: #e6ffe6;

}

/*for data page*/
.data-container {
	padding: 20px;
}

.row {

	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
}

.data-form {
	width: 300px;
	margin: 0 auto;
}
.button {
    min-width: 120px;
}

.txtcenter {
	text-align: center;
}

img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3px solid #ffffff;
}

.row2 {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.lcolor {
	color: white;
	font: bold 22px Arial;
	text-decoration: none;
	
}

.margin {
	margin: 10px;
	/*padding: 10px;*/
}

.link {
	background: #66ff99;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #ddd;
	flex: 1;
	max-width: 200px;
}

.logout {
	width: 100px;
	height: 50px;
	font: 23px bold Arial;
	background-color: #80ffbf;
	border-radius: 10px;
}

.block {
	display: block;
}

.padding {
	padding-top: 10px;
}
.relative {
	position: relative;
}
.absolute {
	display: block;
	position: absolute;
	top: 40px;
	left: -40px;
	right: -40px;
}

.musbox {
	width: 220px;
	height: 129px;
}

.vote {
	border-radius: 10px 0px;
	height: 25px;
	background: #ffa64d;
}

.voteform {
	border-radius: 20px 5px;
	/*background: #ffbf80;*/
	opacity: 0.9;
	color: #00ffff;
}

.submit {
	background: #00cccc;
	border-radius: 20px 5px;
	padding: 5px;
}

.rate {
	color: #ff704d;
	text-align: center;
	border-bottom: 3px solid #00e6e6;
	font: 23px bold Arial;
	max-width: 80px;
	margin: 0 auto;
}

.trname {
	color: #00ffff;
}
.sum {
	color: #ffa64d;
}

.before::before {
	content: "";
	background: url(../img/note2.png);
	background-size: contain;
	width: 25px;
	height: 25px;
	display: inline-block;
	
}


@media screen and (max-width: 560px) {
    img, .range {display: none;}
	.flex1 {justify-content: space-around;}
	.part2 {flex: 0;}
	.button {
		width: 80%;
		margin: auto;
		height: 40px;
	}
	.end {
 	justify-content: space-around;
 }

}